/* Set variables for colours */
:root {
    --dark-color: #111;
    --light-color: #eee;
    --dark-grey: #404040;
    --medium-grey: #808080;
    --light-gray: #c0c0c0;
}

/* Set default styles using a mobile-first approach */

* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

html {
    font-size: 15px;
}

body {
    font-family: Helvetica, Arial, sans-serif;
    background-color: var(--light-color);
    color: var(--dark-color);
    font-size: 1rem;
    line-height: 1.333rem;
    font-weight: normal;
}

img {
    width: 100%;
}

/* Custom styling */

.container {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 8px;
    margin: 8px;
}

.container > * {
    /* To help see grid */
    /* background-color: greenyellow; */
}

.article-heading {
    grid-column: 1 / 13;
    font-size: 1.333rem;
    line-height: 1.6rem;
    font-weight: bold;
    letter-spacing: -1px;
    text-align: justify;
    text-justify: inter-word;
}

.image-container {
    grid-column: 1 / 13;
    align-self: start;
    position: relative;
}

.image-caption {
    position: absolute;
    bottom: 0px;
    padding: 8px;
    width: 100%;
    background-color: var(--dark-color);
    color: var(--light-color);
    font-size: 1rem;
    line-height: 1.2rem;
}

.article-paragraph {
    grid-column: 1 / 13;
}

.article-controls {
    grid-column: 1 / 13;
}

.ratings {
    grid-column: 1 / 13;
}

/* TYPOGRAPHIC BREAKPOINTS */

/* Group B */
@media (min-width: 320px) {
    html {
        font-size: 16px;
    }

    body {
        line-height: 1.375rem;
    }

    .article-heading {
        font-size: 1.5rem;
        line-height: 1.75rem;
    }

    .image-caption {
        font-size: 0.938rem;
        line-height: 1.125rem;
    }
}

/* Group D */
@media (min-width: 600px) {
    html {
        font-size: 16px;
    }

    body {
        line-height: 1.375rem;
    }

    .article-heading {
        font-size: 2rem;
        line-height: 2.25rem;
    }

    .image-caption {
        font-size: 0.875rem;
        line-height: 1.125rem;
    }
}

/* Group C */
@media (min-width: 600px) and (any-hover: none) and (any-pointer: coarse) {
    html {
        font-size: 18px;
    }

    body {
        line-height: 1.333rem;
    }

    .article-heading {
        font-size: 2rem;
        line-height: 2.222rem;
    }

    .image-caption {
        font-size: 0.833rem;
        line-height: 1.111rem;
    }
}

/* GRID BREAKPOINTS */

/* Group 2 */
@media (min-width: 400px) {
    .container {
        margin: 16px;
    }
}

/* Group 3 */
@media (min-width: 600px) {
    .container {
        gap: 16px;
        margin: 16px;
    }

    .image-container {
        grid-column: 2 / 12;
    }

    .article-paragraph {
        grid-column: 2 / 12;
    }

    .article-controls {
        grid-column: 2 / 12;
    }

    .ratings {
        grid-column: 2 / 12;
    }
}

/* Extra breakpoint */
@media (min-width: 800px) {
    .article-heading {
        grid-column: 2/ 12;
    }

    .image-container {
        grid-column: 3 / 11;
    }

    .article-paragraph {
        grid-column: 3 / 11;
    }

    .article-controls {
        grid-column: 3 / 7;
    }

    .ratings {
        grid-column: 7 / 11;
    }
}

/* Group 4 */
@media (min-width: 1008px) {
    .container {
        margin: 16px auto;
        max-width: 976px;
    }

    .article-paragraph:first-of-type {
        grid-column: 3 / 6;
        grid-row: 2 / 3;
    }

    .image-container {
        grid-column: 6 / 11;
    }
}

/* Group 5 */
@media (min-width: 1280px) {
    .container {
        margin: 16px auto;
        max-width: 1248px;
    }

    .article-paragraph:first-of-type {
        grid-column: 3 / 5;
        grid-row: 2 / 3;
    }

    .image-container {
        grid-column: 5 / 11;
    }
}
